main,
main:not(.page-with-blocks)
    padding-bottom: $spacing5
header#document-header .logo
    align-items: center
.page__home main
    background:
        image: url("/assets/images/crop.png")
        position: 85% bottom
        repeat: no-repeat
    @include media-breakpoint-up(desktop)
        background-attachment: fixed
        h1
            font-size: px2rem(55)
.posts__section,
.categories__term,
.authors__term,
.persons__page
    .posts--list article .post-content
        grid-column: 1/13
        margin-left: 0
.categories__term .posts--list
    .post 
        border: none
        a
            @include h2
            @include link($color-accent)
        .post-meta time
            @include h2
            color: inherit
            font-family: $body-font-family
.posts__page 
    header.hero
        .post-categories li 
            margin-left: 0
            a
                @include h1
                color: $color-text-alt
                text-decoration: none
        h1
            margin-top: 0
    .blocks 
        @include media-breakpoint-up(desktop)
            .block-content
                padding-left: 0 !important
                padding-right: 0
                width: col(8)
            .top
                margin-bottom: $spacing2
            .block-partners--grid .block-content
                width: 100%
.organizations__section
    .organizations
        @include grid(4)
.organizations,
.block-partners--grid .grid.organizations
    @include in-page-with-or-without-sidebar
        @include media-breakpoint-up(desktop)
            grid-column-gap: $grid-gutter !important
    .organization 
        h3, h2
            @include h4
            font-family: $body-font-family
            margin-top: $spacing0
            a::after
                vertical-align: baseline
        .media 
            aspect-ratio: 1
            filter: grayscale(1)
            picture img
                height: 50%
                margin-left: 50%
                margin-top: 50%
                transform: translate(-50%, -50%)
                width: 50%
header.hero
    @include media-breakpoint-up(desktop)
        .content > h1
            width: col(8)

footer#document-footer
    opacity: 1

@media (prefers-color-scheme: dark)
    .hero
        background: transparent
    .nav-accessibility a
        color: $color-accent
    .categories__term .posts--list .post a
        @include link(white)
        .has-menu-opened &
            @include link($color-accent)