header#document-header 
    .logo
        align-items: center

header.hero
    .post-categories
        margin-top: $spacing-5

    @include media-breakpoint-up(desktop)
        .content > .hero-text
            padding-top: 0
            width: columns(8)

