.posts__page 
    header.hero
        @include media-breakpoint-up(desktop)
            .container
                .content
                    .hero-text
                        width: 100%
                    p
                        width: columns(8)
        .container--category
            @include media-breakpoint-up(desktop)
                padding-top: $spacing-5
            .post-categories
                margin-top: $spacing-5 !important
                @include list-reset
                li 
                    margin-left: 0
                a
                    @include h1
                    color: var(--color-text-alt)
                    text-decoration: none
            + .container
                .content
                    padding-top: 0
                    .hero-text
                        margin-top: 0
                        width: auto

.posts
    .post
        .post-title
            @include h2
        time
            padding-top: space(4)
            @include body-text
    &--list
        article
            .post-content
                @include in-page-without-sidebar
                    width: columns(11)
.block-testimonials
    @include in-page-with-sidebar
        .testimonials
            li
                figure.with-picture
                    figcaption
                        margin-left: 0 !important
// .block-class-list
//     ul
//         padding-left: 0
//         li
//             display: inline
//             + li::before
//                 content: ', '