{{ $title := partial "header/helpers/GetTitle" . }}
{{ $hero := (dict
  "title" $title
  "context" .
) }}
{{ $class := partial "header/hero/helpers/GetClass" $hero }}
<header class="{{ $class }}">
  <div class="container">
    <div class="content">
      {{ if .Params.posts_categories }}
        {{ partial "commons/categories" (dict
          "context" .
          "kind" "post"
        ) }}
      {{ end }}
      <div class="hero-text">
        {{ partial "header/hero/content/text.html" $hero }}
        {{ partial "header/hero/content/actions.html" $hero }}
      </div>
    </div>
  </div>
</header>
